body{
  --bg-color: #181C49;
  --color: #0AA48c;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #0AA48c;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

footer{
  height: 5px;
  border-top: 2px solid #D5142F;
  opacity: 0.7;
  transform: translateY(-10vh);
  display: flex;
  justify-content: center;
}

footer p{
  margin-top: 45px;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--color);
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img{
  height: 80px;
  width: 130px;
}

.header h1{
  font-family: "Ga Maamli", sans-serif;
  font-size: 2.6em;
  color: #FCDC1D;
  transform: translateX(-15px);
}

header p{
  font-size: 1.4em;
  font-family: "Atomic Age", system-ui;
  text-align: start;
}

.level-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* adjust to fit layout */
}

.level{
  font-family: "Bungee Tint", sans-serif;
  font-size: 2em;
  transform: translateY(-10vh);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(16);
}

[data-aos="fade"] {
  transform: translateY(-5vh) !important;
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 13ch;
  }
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(6, minmax(120px, 1fr));
  gap: 1rem;
  padding: 2rem;
  transform: translateY(-20%);
}

.card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.card img {
  width: 100%;
}

.spinnerWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.spinner{
  border: 3px solid grey;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border-top: 3px solid darkred;
  animation: 2s spin linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.difficulty-selector {
  margin: 1rem 0;
  text-align: end;
  transform: translateY(-75px);
  display: flex;
  justify-content: end;
  align-items: center;
}

.difficulty-selector div button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: 50px;
  width: 120px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.3);
  color: #D5142F;
  border: none;
  border-radius: 20px;
}

.difficulty-selector button:hover{
  background-color: #0AA48c;
  color: #FCDC1D;
}

.difficulty-selector label{
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Atomic Age", system-ui;
}

.game-over  .over{
  font-size: 4em;
  font-family: "Bungee Spice", sans-serif;
}

.no-display-score{
  display: none;
}

.game-over .final-score{
  font-size: 2.5em;
  transform: translateY(-5vh);
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: italic;
}

.game-over button{
  height: 60px;
  width: 130px;
  font-size: 1.4em;
  background-color: #FCDC1D;
  border: none;
  border-radius: 20px;
  transform: translateY(-5vh);
  cursor: pointer;
}

[data-aos="fade-up"] {
  transform: translateY(-5vh) !important;
}

.game-over button:hover{
  background-color: #0AA48c;
}